@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Dancing+Script&family=Kalam&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Oswald:wght@300&family=Rubik:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Abril Fatface;
}